{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "globals": {
    "localStorage": true,
    "window": true,
    "document": true,
    "FileReader": true
  },
  "overrides": [
    {
      "files": ["setupTests.js"],
      "rules": {
        "import/no-extraneous-dependencies": "off"
      }
    }
  ]
}