{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": ["jest"],
  "env": {
    "jest/globals": true
  },
  "overrides": [
    {
      "files": ["*.test.js"],
      "rules": {
        "react/jsx-filename-extension": "off"
      }
    }
  ]
}
