.books-table {
  table {
    border-collapse: collapse;
    tr {
      td, th {
        padding: 5px;
        border: 1px solid #999;
        vertical-align: top;
        img {
          width: 200px;
        }
      }
    }
  }
}