.c-book {
  border: 1px solid $colour__blue--light;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 8px;

  &__image {
    height: 0;
    overflow: hidden;
    padding-bottom: 75%;
    position: relative;

    img {
      background-color: $colour__blue--lightest;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
