// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

html, body {
  background-color: #000;
  color: #636b6f;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}